#calendar-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#calendar {
    width: 70%;
}

#event-details {
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
}
