body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}

h1 {
    color: #0078d4; /* Azul padrão do Microsoft */
}

#calendar-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#calendar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

#event-details {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

/* Botão de voltar à Página Principal */
.btn-primary {
    background-color: #0078d4; /* Azul padrão do Microsoft */
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #005a9e; /* Tom mais escuro de azul ao passar o mouse */
}
